{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}

<form class="form-container" action="/signup" method="post">
  <div class="form-div">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" placeholder="Username:" />
  </div>
  <div class="form-div">
    <label for="password">Password: </label>
    <input type="password" required id="password" name="password" />
  </div>
  <div class="form-div">
    <label for="email">Email: </label>
    <input type="email" required id="email" name="email" />
  </div>
  <div class="form-div">
    <label for="phonenumber">Phone number: </label>
    <input type="number" required id="phonenumber" name="phonenumber" />
  </div>
  <div class="form-div">
    <label for="postCode">Post code: </label>
    <input type="number" required id="postCode" name="postCode" />
  </div>

  <div class="form-div">
    <button class="button">Sign up</button>
  </div>

  <p>Already have an account? <a href="/login">Login</a></p>
</form>