<h2>All your bookmarked sofas</h2>

<div class="cards-container">
  {{#each allBookmarkedSofas}}
    <div class="sofa-card">
      <h3>{{title}}</h3>
      <img src="{{picture}}" alt="{{title}}" />
    </div>
  {{/each}}

</div>