body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00b7ff;
}

a {
  color: black;
}

h1 {
  color: 15px;
}

.sofa-card {
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.sofa-card > img {
  width: 100%;
  height: 50%;
}
.sofa-card {
  margin: 2rem;
  text-align: center;
  padding: 20px;
}
