<form action="/sofas/create" , method="post" enctype="multipart/form-data">
  <label for="title">Title:</label><br />
  <input type="text" id="title" name="title" /><br />
  <label for="picture">Picture:</label><br />
  <input type="file" name="picture_url" /><br />
  <label for="description">Description:</label><br />
  <input type="text" id="description" name="description" /><br />
  {{! <label for="owner">Owner:</label><br />
  <input type="text" id="owner" name="owner" /><br /> }}
  <input type="submit" />
</form>