<form action="/sofas/{{oneSofa._id}}/edit" method="post">
  <label for="title">Title</label>
  <input type="text" name="title" value={{oneSofa.title}} />

  <label for="description">Description</label>
  <input type="text" name="description" value={{oneSofa.description}} />

  <label for="picture">Picture</label>
  <input type="file" name="picture" value={{oneSofa.picture}} />

  <input type="submit" value="Edit Sofa" />
</form>